{% extends 'base.html.twig' %}

{% block body %}
<div class="row text-center container-home">
    <div class="col-lg-12 text-center">
        <h1 class="display-6">{{ 'home.title'|trans }}</h1>
        <p class="lead">{{ 'home.lead'|trans }}</p>
    </div>
</div>

{% endblock %}